body{
  /* background-color: rgb(34, 45, 45); */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#css{
  background-color: darkcyan;
}
#javascript{
  background-color: yellow;
}
#main{
  background-color: black;
}
#about{
  background-color: aquamarine;
}
#myworks{
  background-color: azure;
}
#html{
  background-color:brown;
}
#profile{
  background-color: purple;
}
#firstweb{
  background-color: yellow;
}
#secondweb{
  background-color: blanchedalmond;
}
#thirdweb{
  background-color: greenyellow;
}
#aboutme{
  color: darkkhaki;
  text-align: center;
}
#project{
  color: yellow;
  text-align: center;
}
#asdf{
  color: peachpuff;
  text-align: center;
}
#htmlproject{
  color: darkmagenta;
  text-align: center;
}
#book{
  color: goldenrod;
  text-align: center;
}
#company{
  color: grey;
  text-align: center;
}
#nameheading{
  color: brown;
  text-align: ;
}
#faeezah{
  color: blanchedalmond;
  text-align: center;
}
#eatry{
  color: aliceblue;
  text-align: center;
}
#source{
  display: block;
  margin: 0 auto;
  width: 250px;
}
#image{
  display: block;
  margin:  0 auto;
  width: 250px;
}
#myself{
  display: block;
  margin: 0 auto;
  width: 250px;
}
#assets{
  display: block;
  margin: 0 auto;
  width: 250px;
}
#cssimg{
  display: block;
  margin:0 auto;
  width: 250px;
}
#bookshop{
  color: gainsboro;
  text-align: center;
}
#frontend{
  color: darkorange;
  text-align: center;
}
#compatch{
  color: green;
  text-align: center;
}
#lorem{
  color: yellow;
  text-align: center;
}
#developer{
  color: blue;
  text-align: center;
}
#online{
  color: burlywood;
  text-align: center;
}