div h1{
  color: yellow;
  text-align: center;
}
div img{
  margin:0 auto;
  width: 250px;
  display: block;
}
div p{
  color: red;
  text-align: center;
}
div h3{
  color: purple;
  text-align: center;
}
div h2{
  color: tan;
  text-align: center;
}
div div{
  background-color:wheat;
}