<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>margin</title>
    <link rel="stylesheet" href="./margin.css">
</head>
<body>
    <div class="flex_container">
        <div id="box1" class="box box_margin box_padding">
            <h1>sponge bob</h1>
            <p>faeezahs paragraph</p>
            <img src="../assets/th1.jpg" alt="" class="faeezah">
        </div>
        <div id="box2" class="box box_margin box_padding">
            <h1>faeezahs</h1>
            <p class="sponge">spongebobs paragraph</p>
        </div>

    </div>
</body>
</html>