/* *{
    margin: 0;
    padding: 0;
} */
html{
    font-size: 32px;
}
   


#box1{
    /* font-size: 1em;; */
    /*display: block;*/
    display: block;
    margin-block-start: 0.25rem;
    margin-block-end:1rem ;
    margin-inline-start: 0.5rem;
    margin-inline-end: 0.5rem;
}
#box2{
    /* font-size: 1em; */
}
p{
    margin-block-start: 0.25rem;
    margin-block-end: 1rem;
    margin-inline-start: 0.5rem;
    margin-inline-end: 0.5rem;
}
.flex_container{
    display: flex;
    height: 500px;
    background-color: aliceblue;
    flex-wrap: wrap;
    justify-content: center;
    align-content:center;
    overflow: scroll;
}
.flex_container > div{
    background-color: blueviolet;
    margin: 5px;
    padding: 15px;
    font-size: 40px;
    text-align: center;
    line-height: 50px;
    width: 250px;            
    
}


h1{
    /* margin: lem; */
    /* margin-block-start: 1em;
    margin-block-end: 1em;
     */
    /*margin-top:0.125em;
    }
    